# 1. In the below elements which of them are values or an expression? eg :- values can be integer or string and expressions will be mathematical operators.
 *
 
 'hello'
 
 -87.8
 
 -
 
 /
 
 6

**Expression** 

- A combination of operands and operators is called an expression. 
- A python expression describes a computational or operation performed on a data. 
- The expression in python produces some value or result after being interpreted by the python interpreter.

In [1]:
x = 25 # statement
x += 10 # expression
print(x)

35

**Values**

- A value maybe a character ie; 'hello world' or a number like 1, 1.2, 3.5 etc. 
- Values belong to different data types integer, float, string etc.

      *            -              Expression
    'hello'        -                value
     -87.8         -                value
     -             -              Expression
     /             -              Expression
     +             -              Expression
     6             -                value

# 2. What is the difference between a string and variable?

**String**

- A string is a collection of characters enclose with in single ' or double " quotation marks.
- A string is a sequence data type.

In [3]:
# Initializing a string
name = 'John Deo'
print(name, type(name))

John Deo <class 'str'>

**Variable**

- A variable is a name to which any value can be assigned.
- We can think of them as an empty box that you wiil fill with some data or value.
- A variable can be a type of integer or string or boolean etc.

In [4]:
# Initializing a string type variabe.
name = 'John deo'
print(type(name))

<class 'str'>

In [5]:
# Initializing a integer type variable.
num = 34
print(type(num))

<class 'int'>

# 3. Describe three different data types.

**1. Numeric data type**

Numeric data type holds numeric values.
- int - Holds signed integers of non-limited length.
- float - Holds floating decimal points.
- complex - Holds complex numbers.

In [6]:
num1 = 5 
print(num1, 'is of type', type(num1))
num2 = 2.0
print(num2, 'is of type', type(num2))
num3 = 1+2j
print(num3, 'is of type', type(num3))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

**2. Sequence data type**

Holds collection of items.

- List - It is an oredered collection of similar or different types of items seperated by commas and enclosed with in brackets [].
- Tuple - It is an ordered collection of items as a list. The only difference is that tuple are immutable. Tuple once created cannot be modified.
- range - It returns a sequence of numbers between the given range.

In [7]:
list1 = ['Java', 'Python', 'Swift']
print(type(list1))
tuple1 = ('Microsoft', 'Xbox', 49.99)
print(type(tuple1))
print(range(5))

<class 'list'>
<class 'tuple'>
range(0, 5)

**3. String data type**

Hold sequence of characters represented by either single or double quotes.

In [8]:
name = 'python'
print(name, type(name))

python <class 'str'>

# 4. What is an expression made up of ? What do all expressions do ?

- A expression is a combination of values, variables, operators and calls to functions.
- Expression need to be evaluated.
- If we ask python to print an expression, the interpreter evaluates the expression and displays the results.

In [9]:
x = 5
y = 6
z = x + y
print(z)

11

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement ?

**Expression**

- Expression statement are used to compute and write a value.
- An expression statement evaluates the expression list and calculates the value.
- An expression is a combination of values, variables and operations.

In [1]:
x = 5 # right hand of = is a expression statement.
x = x + 10 # x = x+10 is a complete statement.
print(x)

15

**Statement**

- Statement are everything that can make up a line (or several lines of python code). Note that expressions are statement as well.
- A statement is an instruction that a python interpreter can execute.
- Anything written in python is a statement. That is each line in a python script is a statement.

In [2]:
# Statement1
print('hello')
# Statement2
x = 20
#Statement3
print(x)

hello
20

# 6. After running the following code, what does the variable bacon contain ?

bacon = 22

bacon + 1

- The bacon variable is set to 20.
- The bacon+1 expression does not reassign the value in bacon (that would need an assognment statement bacon = bacon+1.
- So the value bacon does not change.

In [3]:
bacon = 22
new = bacon+1
print('new : ', new)
print('bacon : ', bacon)

new :  23
bacon :  22

# 7. What should the values of the following two terms be ?

'spam'+'spamspam'

'spam'*3

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid ?

- A variable name must start with a letter or the underscore character.
- A variable name cannot start with a number.

In [6]:
eggs = 10
print(eggs)

10

In [7]:
100 = 'hundred'
print(100)

SyntaxError: cannot assign to literal (939798116.py, line 1)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value ?

- int() :- This function is used to get an integer value. It returns an expression converted into an integer number.

In [8]:
x = 5.9
y = int(x)
print(y)
print(type(y))

5
<class 'int'>

- float() :- This function is used to get an floating-point number. It returns an expression converted into floating-point value.

In [9]:
x = 5
y = float(x)
print(y)
print(type(y))

5.0
<class 'float'>

- Str() :- Converts to a string.

In [10]:
x = 5
y = str(x)
print(y)
print(type(y))

5
<class 'str'>

# 10. Why does this expression cause an error ? How can you fix it ?

'I have eaten' + 99 + 'burritos'

In [12]:
print('I have eaten' + 99 + 'burritos')

TypeError: can only concatenate str (not "int") to str

- This expression can causes an error because in this line 'I have eaten' and 'burritos' are strings, while 99 is treated as integer.
- In order to fix it print 'I have eaten 99 burritos', 99 nneds " " around it to treat it as string.

In [13]:
print('I have eaten 99 burritos')

I have eaten 99 burritos